<% include header %>
    <h1>增加学生信息</h1>
    <form method="post">
        姓名：<input type="text" name="name">
        学号：<input type="text" name="student_id">
        <button type="submit">确定</button>
    </form>
<% include footer %>